# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
/runtime/
eclipse
run
*.bak

# version files
/HeadlessMC/
/logs/
/plugins/

# fabric
/remappedSrc/